<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descarga | Wecontract</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <img src="/img/logo.png" alt="Inshare logo" class="logo">

    <section class="download">
        <img class="download__icon" src="/img/download-sd.svg" alt="wecontract-download">
        <% if(locals.error){ %>
            <h4>
                <%= locals.error %> 😏</h4>
            <% } else { %>
                <h2>Tu contrato esta listo para descargar</h2>
                <p>El Link expira en 24 horas</p>
                <div class="download__meta">
                    <h4>
                        <%= fileName %>
                    </h4>
                    <small><%= parseInt(fileSize/1000) %> KB</small>
                </div>
                <div class="send-btn-container">
                    <a href="<%= downloadLink %>">Descargar Archivo</a>
                </div>
                <% } %>
    </section>

</body>

</html>